/* effects for header */
#logo {
    width: 100px;
    position: relative;
    left: 150px;
    border-radius: 50%;
}
header {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    padding: 10px;
    background-color: #F8F4EA;
    /* position: fixed; */
    width: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
}
nav a {
    padding-right: 30px;
    text-decoration: none;
    color: black;
    font-style: inherit;
    font-size: larger;
    font-weight: bold;
}
nav {
    padding-right: 100px;
}

/* Burger Menu */
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hamburger {
    display: none;
    cursor: pointer;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #2E4F4F;
}
@media (max-width: 768px) {
    .hamburger {
        display: block;
        position: relative;
        right: -5rem;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu {
        position: fixed;
        margin-top: 3rem;
        width: 100% !important;
        left: 100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #F8F4EA;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 1;
    }
    .nav-menu.active {
        left: 0;
    }
    .header h1 {
        margin-left: 8rem !important;
    }
}
@media screen and (max-width: 425px) {
    .header h1 {
        font-size: 25px;
    }
    .header img {
        margin-left: -12rem !important;
    }
    .hamburger {
        margin-right: 3rem;
    }
}
@media screen and (max-width:375px) {
    .header img {
        width: 20% !important;
        margin-left: -11.5rem !important;
    }
    .nav-menu {
        margin-top: 1rem;
        align-items: center !important;
        text-align: center;
    }
}
@media screen and (max-width: 320px) {
    .header h1 {
        font-size: 20px;
    }
    .nav-menu {
        margin-top: 0rem;
    }
}
/* effects for header */

/* This is for section 1 */
#bell {
    max-height: 60vh;
    width: 100%;
    object-fit:cover;
}
#text1 {
    color: #F8F4EA;
    position: absolute;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
    font-style: italic;
    top: 350px;
    left: 500px;
}
#text2 {
    color: #F8F4EA;
    position: absolute;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
    font-style: italic;
    top: 450px;
    left: 350px;
}
/* This is for section 1 */

/* This is for section 2 */
.boxes {
    display: grid;
    grid-template-columns: 350px 350px 350px;
    padding-top: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-column-gap: 50px;
}
.box1, .box2, .box3 {
    font-style: italic;
}
.events, .portraits, .weddings {
    width: 300px;
    padding: 20px;
    border-radius: 10%;
}
.box1:hover {
    transition: 0.5s ease;
    transform: scale(1.1);
}
.box2:hover {
    transition: 0.5s;
    transform: scale(1.1);
}
.box3:hover {
    transition: 0.5s;
    transform: scale(1.1);
}
/* This is for section 2 */

/* This is for section 3 */
.section3 {
    background-color: #2E4F4F;
    color: #F8F4EA;
    width: 1200px;
    height: 300px;
    position: absolute;
    top: 1400px;
    left: 350px;
}
.s3h1 {
    font-size: 40px;
    padding: 40px;
    padding-left: 80px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
}
.s3p1, .s3p2 {
    text-align: center;
    font-size: 22px;
    align-items: center;
    position: relative;
    bottom: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
}
/* This is for section 3 */

/* This is for section 4 */
.cwedding {
    max-height: 90vh;
    width: 100%;
    object-fit:cover;
}
.cmayer {
    max-height: 90vh;
    width: 100%;
    object-fit:cover;
}
.coldman {
    max-height: 90vh;
    width: 100%;
    object-fit:cover;
}
.cevent {
    max-height: 90vh;
    width: 100%;
    object-fit:cover;
}
.csunset {
    max-height: 90vh;
    width: 100%;
    object-fit:cover;
}
.section4 {
    position: relative;
    top: 430px;
}
/* This is for section 4 */

/* This is for section 5 */
.section5 {
    display: grid;
    margin-top: 500px;
    justify-content: center;
    grid-template-columns: 600px 600px;
    grid-template-rows: 400px 400px;
    grid-column-gap: 90px;
    grid-row-gap: 30px;
    text-align: center;
    font-style: italic;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', san-serif;
}
.wreview1 {
    padding: 20px;
}
.wreview2 {
    padding: 20px;
}
.preview {
    padding: 20px;
}
.ereview {
    padding: 20px;
}
/* This is for section 5 */

/* This is for section 6 */
.section6 {
    position: absolute;
    right: 850px;
    top: 3450px;
}
.services {
    width: 200px;
    height: 50px;
    border-radius: 30px;
    border-style:dotted;
}
/* This is for section 6 */

/* This is for section 7 */
.mayer {
    max-height: 60vh;
    width: 100%;
    object-fit: cover;
    position: relative;
    top: 200px;
}
/* This is for section 7 */

/* This is for section 8 */
.section8 {
    display: grid;
    width: 800px;
    grid-template-columns: 200px 300px;
    padding: 20px;
    margin-top: 250px;
    justify-content: center;
    grid-column-gap: 200px;
    margin-left: 430px;
    padding-bottom: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
}
hr {
    height: 2px;
    background-color: black;
    width: 50px;
    margin-left: 0px;
}
.s8b1 {
    align-items: center;
    justify-content: center;
    padding-top: 150px;
}
#contact {
    margin-bottom: 30px;
}
#inquiryForm {
    position: relative;
    left: 130px;
    margin-bottom: 30px;
}
.s8b2f {
    display: grid;
    grid-template-columns: 300px 300px;
}
#firstName, #lastName {
    margin-bottom: 20px;
}
#submit {
    position: relative;
    top: 15px;
    left: 235px;
}
/* This is for section 8 */

/* This is for footer */
footer {
    background-color: #2E4F4F;
    padding: 30px;
}
.footericons {
    justify-content: center;
    display: flex;
}
.footericons a i {
    text-decoration: none;
    padding: 10px;
    font-size: 2rem;
    color: #F8F4EA;
}
.footerbottom {
    text-align: center;
    color: #F8F4EA;
}
#fb:hover {
    transition: 0.5s;
    transform: scale(1.5);
}
#ig:hover {
    transition: 0.5s;
    transform: scale(1.5);
}
#gmail:hover {
    transition: 0.5s;
    transform: scale(1.5);
}
/* This is for footer */

/* This is for the responsiveness of the site */
@media screen and (max-width: 1440px){
    .header img {
        margin-left: -15rem;
    }
    .header h1 {
        margin-left: 2rem;
    }
    .header nav {
        margin-right: -12rem;
    }
    #text1 {
        position: absolute;
        top: 20rem;
        left: 20rem;
    }
    #text2 {
        position: absolute;
        top: 25rem;
        left: 9rem;
    }
    .section3 {
        position: absolute;
        top: 83.6rem;
        left: 7rem;
    }
    .section6 {
        position: absolute;
        top: 210rem;
        left: 40rem;
    }
    .section8 {
        margin-left: 12rem;
    }
}
@media screen and (max-width: 1024px){
    .header nav {
        margin-right: -3rem;
        display: flex;
        gap: 2px;
        width: 40%;
        align-items: center;
        text-align: center;
    }
    .header h1 {
        margin-right: -5rem;
    }
    #text1 {
        position: absolute;
        top: 20rem;
        left: 10rem;
        font-size: 40px;
    }
    #text2 {
        position: absolute;
        top: 25rem;
        left: 2.5rem;
        font-size: 40px;
    }
    .boxes {
        display: flex !important;
        gap: 2px;
    }
    .section3 {
        width: 80%;
    }
    .section5 {
        margin-top: 28rem;
        margin-left: 6rem;
        width: 80%;
        height: 150%;
        display: grid;
        grid-template-columns: 500px 500px;
        grid-template-rows: 100px 100px;
        grid-column-gap: 30px;
        grid-row-gap: 80px;
    }
    .section5 div h2 {
        font-size: 20px;
    }
    .section5 div h3 {
        font-size: 20px;
    }
    .section6 {
        position: absolute;
        top: 174rem;
        left: 25rem;
    }
    .section7 {
        margin-top: 2rem;
    }
    .section8 {
        margin-left: 9rem;
        display: flex !important;
        gap: 15px;
    }
    .s8b2 h1 {
        width: 50%;
    }
}
@media screen and (max-width: 768px) {
    .section1 img {
        object-fit: cover !important;
        max-height: 40vh !important;
    }
    #text1 {
        font-size: 30px;
        margin: -4rem -1rem;
    }
    #text2 {
        font-size: 30px;
        margin: -6rem -0.5rem;
    }
    .boxes {
        display: block !important;
    }
    .section3 {
        width: 80% !important;
        height: 30% !important;
        position: absolute;
        top: 131rem;
        left: 5rem;
    }
    .section3 h1 {
        font-size: 30px;
        margin-left: -60px;
    }
    .section3 p {
        font-size: 20px;
        text-align: justify;
        padding-left: 20px;
        padding-right: 20px;
    }
    .section4 {
        position: absolute;
        top: 147.4rem;
    }
    .section5 {
        margin-top: 55rem;
        margin-left: 2.5rem;
        width: 90%;
        display: grid !important;
        grid-template-columns: 3fr 3fr;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 2px;
    }
    .section6 {
        margin-top: 48rem;
        margin-left: -7rem;
    }
    .section7 img{
        margin-top: -5rem;
        max-height: 40vh;
    }
    .section8 {
        display: flex !important;
        flex-direction: column-reverse;
        gap: 50px;
        margin-left: 4rem;
        width: 80%;
        height: 50% !important;
    }
    .s6b1 {
        text-align: center;
    }
    .s6b1 hr {
        margin-left: 11rem;
    }
    .s6b1 i{
        margin-left: 4rem;
        width: 50%;
        text-align: left;
    }
    .s8b2 form {
        align-items: center !important;
        text-align: center !important;
        justify-content: center;
    }
    .s8b2 textarea {
        margin-left: 2.8rem;
    }
    .s8b2 input {
        margin-left: 1rem;
    }
    .s8b2 h1 {
        margin-left: 4rem;
    }
}
@media screen and (max-width: 425px){
    .section1 img {
        object-fit: cover !important;
        max-height: 25vh !important;
    }
    #text1 {
        margin: -9rem -8rem;
        font-size: 22px;
    }
    #text2 {
        text-align: center;
        width: 80%;
        margin: -11rem -0.5rem;
        font-size: 22px;
    }
    .boxes img {
        width: 60%;
        height: 60%;
    }
    .section3 {
        margin-top: -19.7rem;
        margin-left: -2.5rem;
        height: 24% !important;
    }
    .section3 h1 {
        margin-top: -2rem;
    }
    .section3 p {
        font-size: 15px;
    }
    .section4 {
        margin-top: -23rem;
    }
    .section5 {
        margin-top: 40rem;
        margin-left: 1.3rem;
        width: 90%;
        display: grid !important;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 0.5fr 0.5fr;
        grid-row-gap: 2px;
    }
    .section5 h2, h3 {
        font-size: 15px !important;
    }
    .section6 {
        margin-top: 8rem;
        margin-left: -16rem;
        width: 50%;
    }
    .section6 button {
        width: 60%;
    }
    .section7 img {
        margin-top: -8rem;
        object-fit: cover !important;
        max-height: 25vh !important;
    }
    .section8 {
        align-items: center !important;
        text-align: center !important;
        margin-left: 2.5rem;
    }
    #inquiryForm {
        margin-left: -4.9rem;
        width: 70%;
    }
    .s8b2 form {
        display: flex !important;
        flex-direction: column;
        gap: none !important;
        align-items: center !important;
    }
    .s8b2f #firstName {
        margin-top: 1px;
        height: 10% !important;
    }
    .s8b2f #contactNumber {
        margin-top: 20px !important;
    }
    #subject-container {
        margin-top: 20px;
    }
    #date {
        margin-left: -0.6rem;
    }
    .s8b2 textarea {
        width: 100%;
        margin-left: 0rem;
    }
    .s8b2 #submit {
        
        margin-left: -29rem;
    }
    .s6b1 i {
        display: flex !important;
        width: 100%;
        margin-left: 0rem;
    }
    #me {
        font-size: 25px !important;
    }
    .s6b1 hr {
        margin-left: 0rem;
    }
}
@media screen and (max-width:375px) {
    #text1 {
        margin: -10rem -8.5rem;
        font-size: 20px;
    }
    #text2 {
        text-align: center;
        width: 80%;
        margin: -13rem -0.4rem;
        font-size: 20px;
    }
    .boxes h4 {
        font-size: 15px;
    }
    .boxes h1 {
        font-size: 20px;
    }
    .section3 {
        margin-top: -36rem;
    }
    .section3 h1 {
        font-size: 20px;
        padding-top: 4rem;
    }
    .section3 p {
        font-size: 12px;
    }
    .section4 {
        margin-top: -39.5rem;
    }
    .section5 {
        margin-top: 35rem;
    }
    .section6 {
        margin-top: -5rem;
    }
    .section8 {
        margin-top: 13rem;
        margin-bottom: -3rem;
    }
}
@media screen and (max-width: 320px) {
    .section1 h2 {
        font-size: 15px !important;
    }
    #text1 {
        margin-left: -7.4rem !important;
    }
    .section3 {
        margin: -47rem -3rem;
    }
    .section3 h1 {
        padding-top: 3.5rem;
    }
    .section4 {
        margin-top: -50.25rem;
    }
    .section5 {
        margin-top: 31rem;
        margin-left: 1rem;
    }
    .section6 {
        margin-top: -12rem;
        margin-left: -18rem;
    }
    .section6 button {
        font-size: 12px;
    }
    .section8 {
        margin-left: 2rem;
        height: 80% !important;
    }
    .section8 h1 {
        font-size: 20px;
        margin-left: -6.1rem !important;
    }
    .s8b2 #firstName, #lastName, #emialAddress, #contactNumber {
        margin-left: -.1rem;
    }
}